<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Timesheet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>Servlet.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPwdController</display-name>
    <servlet-name>ForgetPwdController</servlet-name>
    <servlet-class>Servlet.ForgetPwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPwdController</servlet-name>
    <url-pattern>/ForgetPwdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPwdController</display-name>
    <servlet-name>EditPwdController</servlet-name>
    <servlet-class>Servlet.EditPwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPwdController</servlet-name>
    <url-pattern>/EditPwdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>Servlet.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPageController</display-name>
    <servlet-name>AdminPageController</servlet-name>
    <servlet-class>Servlet.AdminPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPageController</servlet-name>
    <url-pattern>/AdminPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerPageController</display-name>
    <servlet-name>ManagerPageController</servlet-name>
    <servlet-class>Servlet.ManagerPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerPageController</servlet-name>
    <url-pattern>/ManagerPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeePageController</display-name>
    <servlet-name>EmployeePageController</servlet-name>
    <servlet-class>Servlet.EmployeePageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeePageController</servlet-name>
    <url-pattern>/EmployeePageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeController</display-name>
    <servlet-name>AddEmployeeController</servlet-name>
    <servlet-class>Servlet.AddEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeController</servlet-name>
    <url-pattern>/AddEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriterHr</display-name>
    <servlet-name>WriterHr</servlet-name>
    <servlet-class>Servlet.WriterHr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriterHr</servlet-name>
    <url-pattern>/WriterHr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAuthorityController</display-name>
    <servlet-name>SearchAuthorityController</servlet-name>
    <servlet-class>Servlet.SearchAuthorityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAuthorityController</servlet-name>
    <url-pattern>/SearchAuthorityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>Servlet.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeController</display-name>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>Servlet.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/EmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HolidayController</display-name>
    <servlet-name>HolidayController</servlet-name>
    <servlet-class>Servlet.HolidayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HolidayController</servlet-name>
    <url-pattern>/HolidayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCHoliday</display-name>
    <servlet-name>JDBCHoliday</servlet-name>
    <servlet-class>JDBC.JDBCHoliday</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCHoliday</servlet-name>
    <url-pattern>/JDBCHoliday</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modifyhr</display-name>
    <servlet-name>Modifyhr</servlet-name>
    <servlet-class>Servlet.Modifyhr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifyhr</servlet-name>
    <url-pattern>/Modifyhr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchHr</display-name>
    <servlet-name>SearchHr</servlet-name>
    <servlet-class>Servlet.SearchHr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchHr</servlet-name>
    <url-pattern>/SearchHr</url-pattern>
  </servlet-mapping>
</web-app>